{% extends 'base.html.twig' %}

{% block title %} Changer le mot de passe {% endblock %}

{% block body %}

    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Changer le mot de passe</h1>

                <h4> Ancien mot de passe : </h4>

                <h4> Nouveau mot de passe : </h4>
                
                
            </div>
        </div>
    </section>

{% endblock %}
